* {
  scroll-behavior: smooth;
}

:root {
  --main-color: wheat;
  --addition-color: rgb(165, 4, 165);
  --grey-color: grey;
  --list-background: rgba(234, 215, 42, 0.1);
  --server-link: rgb(255, 0, 255) ;
}

body {
    border: grey solid 2px;
    margin: 20px auto;
    min-width: 400px;
    max-width: 1200px;
    color: var(--main-color);
    text-shadow: 0.5px 0.5px  var(--addition-color); 
    background: url("./assets/img/jpg/background.jpg"); /* Old browsers */
    font-size: 23px;
}

.heading {
  animation: move 2s ease-in-out;
}

header a {
  font-weight: 500;
  color: var(--main-color);
  text-shadow: 1px 1px 2px var(--addition-color);
  text-decoration: none;
}

header {
    width: 100%;
    border-bottom: 1px solid var(--grey-color);
}

.top-block {
  display: flex;
}

ul {
  padding: 0 20px;
}

nav {
margin-bottom: 2vh;
margin-left: 7vw;
}

.navig {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
  font-size: 75%;
}

nav li {
  padding: 3px;
  border: none;
  background-color: var(--list-background);
  border-radius: 6px;
  text-transform: uppercase;
  list-style: none;
  text-align: center;
}

.navig li:hover {
  border: 2px solid var(--main-color);
  transition:0.3s;
  transform: scale(1.1);
}


.info {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--main-color);
}

figcaption {
  padding-left: 30px;
  font-style: italic;
  font-size: 25px;
}

h1 {
    display: block;
    color: var(--main-color);
    text-shadow: 1px 1px 2px var(--addition-color);
    margin: 10px auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 140%;
    font-style: italic;
}

.photo {
    display: block;
    margin: 10px auto 25px;
    border: 2px solid var(--addition-color);
    width: 25%;   
    animation: move 3s ease-in-out;
}

    .myphoto {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
}

.cv-text {
    display: block;
    margin: 25px 45%;
    color: var(--main-color);
    text-shadow: 1px 1px 2px red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 140%;
    font-style: italic;
}

.continf {
    font-weight: 400;
}

.useskl {
    font-style: oblique;
    margin: 20px;
}

footer {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--grey-color);
}

.logoinf {
    margin: 20px 0 0 50px;
    width: 300px;
    height: 150px;
}

.logo {
    width: 100%; 
    height: 100%;
    object-fit: contain; 
}

.name {
    font-size: 25px;
    margin-top: 10px;
    padding: 10px;
}

section {
    margin: 10px 0px 20px 20px;
    font-weight: bold;
    font-size: 25px;
}

.about {
    font-weight: normal;
}

.skl {
    font-size: 25px;
    font-weight: normal;
    margin: 15px;
    
}

.skl_two {
    font-size: 25px;
    font-weight: normal;
    margin-left: 15px;
    font-style: italic;
}

.container {
    margin-top: -10px;
    margin-bottom: 20xp;
    padding-bottom: 10px ;
}

.codeinf {
    font-size: 25px;
    font-weight: normal;
    margin-left: 15px;
    font-style: italic;
}

.code-example {
    display: flex;
    justify-content: center;

}

code {
    font-weight: normal;
    text-shadow: none;
    white-space: pre-wrap;
}


.exp {
    font-size: 25px;
    font-weight: normal;
    margin: 15px;
}

  .examples {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.examples-block {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.links-images {
  display: block;
  width: 20%;
  font-size: 20px;
  text-decoration: none;
  text-shadow: none;
  text-align: center;
  color: var(--main-color);
}

.race-server {
  width: 45%;
  font-size: 20px;
  text-decoration: underline;
  text-shadow: none;
  text-align: center;
  color: var(--main-color);
}

.foot {
    display: flex;
    justify-content: space-around;
}

.gitlink {
  margin-top: 35px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
}

footer a {
  font-weight: 500;
  color: black;
  text-shadow: 1px 1px 2px var(--list-background);
  text-decoration: none;
}
.edu {

    font-size: 25px;
    font-weight: normal;
    margin: 15px;
}

.lng {
    font-size: 25px;
    font-weight: normal;
    margin: 15px;
}

.year {
    margin: 10px auto;
    color: rgb(10, 10, 10);
    text-shadow: none;
}


/* Animation */

.anim-items {
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

@keyframes move {
  from {
    transform: translateX(-200%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}